@(comment: Comment, depth: Int)

<div class="row-fluid" style="margin-bottom: 10px;">
<div class="pull-right span12">
    <div class="span12" style="padding-left:  @(depth * 20) px;">
        <fieldset>
            <legend>
                @comment.subject <span class="pull-right" style="width: 118px; padding-bottom: 9px;">
                    <a href="#commentModal" role="button" class="btn btn-warning btn-small" data-toggle="modal" onclick="setCommentParent(' @comment.id.get ')">
                            Reply
                    </a>
                    <a href="#" class="btn btn-danger btn-small">
                            Report
                    </a>
                </span>
            </legend>
        </fieldset>
        <p>
            @comment.comment <span class="pull-right" style="margin-bottom: 5px; border-bottom: 1px solid #dedede;"> by <i> @comment.username </i> at <b> @comment.date </b>
            </span>
        </p>
    </div>
</div>
</div>