@(codeForm: Form[(String, String, String, String)])

@import views.html.bootstrap.bootstrapForm
@import views.html.helper.FieldConstructor

@implicitField = @{ FieldConstructor(bootstrapForm.f) }

@main("RateMyCode - Submit your code") {
    <script type="text/javascript">
            function setPublish() {
            $('input[id="publish"]').val('0');
            }
    </script>

    <fieldset>
        <legend>Step 2. Add code to your submission</legend>
    </fieldset>
    <p><i>A submission without code is useless, so add some here! If you have multiple seperate pieces to add, you can do so with the "Add Code?" button which saves the code in this form and gives you another form to fill out!</i></p>
    <br/>
    <br/>

    <div class="row-fluid">
        <div class="span12">
            @helper.form(action = routes.Submissions.handleCode(), 'class -> "form-horizontal", 'onsubmit -> "onEditorPost();") {
                <input type="hidden" id="publish" name="publish" value="1">

                @helper.inputText(codeForm("name"), '_label -> "Title:", 'id -> "name", 'placeholder ->
                        "Enter a descriptive name.", '_help -> "")

                @helper.inputText(codeForm("description"), '_label -> "Description:", 'id -> "description",
                    'placeholder -> "Briefly describe your submission", '_help -> "")

                @helper.input(codeForm("code"), '_label -> "Code:", '_help -> "") {(id, name, value, args) =>
                    <div id="@name" class="span9" style="height: 400px; position: relative;"> @value </div>
                    <textarea name="@name" style="display: none;" @toHtmlArgs(args) > </textarea>
                }

                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" onclick="setPublish();" value="Add Code?"/>
                        <input class="btn btn-primary" type="submit" value="Publish Submission!"/>
                    </div>
                </div>
            }
        </div>
    </div>


    <script type="text/javascript">
            setupEditableEditor();
    </script>
}