@(trending: List[(Submission, Language)], recent: List[(Submission, Language)])

@main("Home - RateMyCode") {

    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h1> Welcome to RateMyCode </h1>
                <p>
                        This is a website that allows it's users to submit pieces of code.
                        These pieces of code can then be rated by visitors of the website with positive or negative feedback.
                        The resulting score gives you an indication of how good the code that you submitted is, some sort of
                        crowd-sourced code review. Visitors can also give comments on the code through the commenting system.
                </p>
                <p>
                    <!-- <a class="btn btn-info btn-large" href="/about"> Learn more &raquo; </a>
                        &nbsp;&nbsp;&nbsp;&nbsp; -->
                    <a class="btn btn-success btn-large" href="/submit"> Submit your code! </a>
                </p>
            </div>
        </div>
        <hr/>
    </div>
    <div class="row-fluid">
        <div clas="span12">
            <div class="well" style="padding-bottom: 30px;">
                <fieldset>
                    <legend> Trending </legend>
                </fieldset>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Score </th>
                            <th> Positive </th>
                            <th> Negative </th>
                            <th> Name </th>
                            <th> Language </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(trending.size > 0) {
                            @for(i <- 0 to (trending.size - 1)) {
                                @if(i < 5) {
                                    @defining(trending(i)) { submission =>
                                        <tr>
                                            <td> @(submission._1.positive - submission._1.negative) </td>
                                            <td> @submission._1.positive </td>
                                            <td> @submission._1.negative </td>
                                            <td> @submission._1.name </td>
                                            <td> @submission._2.name </td>
                                            <td> <a class="btn btn-primary btn-small" href="/view/@submission._1.id"> View </a> </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
                <span> <a href="/trending" class="btn btn-primary btn-small"> Give me more! </a> </span>
            </div>

            <div class="well" style="margin-bottom: 30px;">
                <fieldset>
                    <legend> Recent </legend>
                </fieldset>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Score </th>
                            <th> Positive </th>
                            <th> Negative </th>
                            <th> Name </th>
                            <th> Language </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(recent.size > 0) {
                            @for(i <- 0 to (recent.size - 1)) {
                                @if(i < 10) {
                                    @defining(recent(i)) { submission =>
                                        <tr>
                                            <td> @(submission._1.positive - submission._1.negative) </td>
                                            <td> @submission._1.positive </td>
                                            <td> @submission._1.negative </td>
                                            <td> @submission._1.name </td>
                                            <td> @submission._2.name </td>
                                            <td> <a class="btn btn-primary btn-small" href="/view/@submission._1.id"> View </a> </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
                <span> <a href="/recent" class="btn btn-primary btn-small"> Give me more! </a> </span>
            </div>
        </div>
    </div>

}