@(form: Form[(String, String)])

@import views.html.bootstrap.bootstrapForm
@import views.html.helper.FieldConstructor

@implicitField = @{ FieldConstructor(bootstrapForm.f) }

@main("RateMyCode - Log in") {
    <div class="row-fluid">
        <div class="span12">
            <fieldset> <legend> Log in </legend> </fieldset>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">

            @if(form.hasGlobalErrors) {
                <div class="alert alert-error">
                    <strong> Error </strong>
                    <br />
                    @form.globalError.get.message
                </div>
            }

            @helper.form(action = routes.Users.handleLogin(), 'class -> "form-horizontal") {

                @helper.inputText(form("emailAddress"), '_label -> "E-mail address:", 'id -> "emailAddress", 'placeholder ->
                        "Example: john@doe.com")
                @helper.inputPassword(form("password"), '_label -> "Password:", 'id -> "password")

                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Log in"/>
                        <a href="@routes.Users.index()" class="btn btn-primary btn-info"> Forgot password? </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <fieldset> <legend> No account? </legend> </fieldset>
            <a class="btn btn-primary" href="@routes.Users.register()"> Register now! </a>
        </div>
    </div>
}
