@(codeForm: Form[(String, String, String, String)])

@import views.html.bootstrap.bootstrapForm
@import views.html.helper.FieldConstructor

@implicitField = @{ FieldConstructor(bootstrapForm.f) }

@main("RateMyCode - Register an account") {
    <div class="row-fluid">
        <div class="span12">
            <fieldset> <legend> Register an account </legend> </fieldset>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12">
            @helper.form(action = routes.Users.handleRegister(), 'class -> "form-horizontal") {

                @helper.inputText(codeForm("emailAddress"), '_label -> "E-mail address:", 'id -> "emailAddress", 'placeholder ->
                        "Example: john@doe.com", '_help -> "")
                @helper.inputText(codeForm("displayName"), '_label -> "Display name:", 'id -> "displayName",
                    'placeholder -> "Example: johndoe1234", '_help -> "")
                @helper.inputPassword(codeForm("password"), '_label -> "Password:", 'id -> "password", '_help -> "")
                @helper.inputPassword(codeForm("passwordRepeat"), '_label -> "Password (repeat):", 'id -> "passwordRepeat", '_help -> "")


                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Register account"/>
                    </div>
                </div>
            }
        </div>
    </div>


    <script type="text/javascript">
            setupEditableEditor();
    </script>
}