@(results: List[(Submission, Language)], query: String, page: Int, count: Int)

@main("Search - RateMyCode") {

    <div class="row-fluid">
        <div class="span5">
            @if(page > 0) {
                <a class="btn btn-primary btn-small" href="/search/@query/@(page - 1)"> &lt; Previous </a>
            }

            @if(page < (count - 1)) {
                <a class="btn btn-primary btn-small" href="/recent/@query/@(page + 1)"> Next &gt; </a>
            }
        </div>
        <div class="span7">
            <p>
                Viewing page @(page + 1) of
                @if(count == 0) {
                    1
                } else {
                    @count
                }
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div clas="span12">
            <div class="well">
                <fieldset>
                    <legend> Search results </legend>
                </fieldset>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Score </th>
                            <th> Positive </th>
                            <th> Negative </th>
                            <th> Name </th>
                            <th> Language </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(submission <- results) {
                            <tr>
                            <td> @(submission._1.positive - submission._1.negative) </td>
                            <td> @submission._1.positive </td>
                            <td> @submission._1.negative </td>
                            <td> @submission._1.name </td>
                            <td> @submission._2.name </td>
                            <td> <a class="btn btn-primary btn-small" href="/view/@submission._1.id"> View </a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}