@(submitForm: Form[(String, String, String)])

@import views.html.bootstrap.bootstrapForm
@import views.html.helper.FieldConstructor

@implicitField = @{ FieldConstructor(bootstrapForm.f) }

@main("RateMyCode - Submit your code") {

    <fieldset>
        <legend>Step 1. General submission information</legend>
    </fieldset>
    <p><i>The following form is meant for general information about your submission.</i></p>
    <br />
    <br />

    <div class="row-fluid">
        <div class="span12">
            @helper.form(action = routes.Submissions.handleSubmission(), 'class -> "form-horizontal") {

                @helper.inputText(submitForm("name"), '_label -> "Title:", 'id -> "name", 'placeholder ->
                        "Enter a descriptive name.", '_help -> "")

                @helper.inputText(submitForm("description"), '_label -> "Description:", 'id -> "description",
                    'placeholder -> "Briefly describe your submission", '_help -> "")
                @helper.input(submitForm("language"), '_label -> "Language:", '_help -> "") {(id, name, value, args) =>
                    <select id="@id" name="@name" @toHtmlArgs(args) >
                        @for(language <- Language.findAll()) {
                            <option value="@language.id">
                                @language.name
                            </option>
                        }
                    </select>
                }

                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Next"/>
                    </div>
                </div>
            }
        </div>
    </div>
}