@(user: User)

@getTable(title: String, list: List[(Submission, Language)]) = {
    <div>
        <h3> @title </h3>
        <table class="table">
            <thead>
                <th> Language </th>
                <th> Name </th>
                <th> Files </th>
                <th> Ups </th>
                <th> Downs </th>
                <th> Score </th>
                <th> Date </th>
            </thead>
            <tbody>
                @for(item <- list) {
                    <tr>
                    <td> @item._2.name </td>
                    <td> @item._1.name </td>
                    <td> @Code.findByParent(item._1.id.get).size </td>
                    <td> @item._1.positive </td>
                    <td> @item._1.negative </td>
                    <td> @(item._1.positive - item._1.negative) </td>
                    <td> @item._1.date </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@main("Dashboard") {

    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header"> Options </li>
                    <li> <a href="#"> Settings </a> </li>
                </ul>
            </div>
        </div>

        <div class="span9">
            <fieldset> <legend> Welcome @user.displayName </legend> </fieldset>
            @getTable("All", Submission.findByParent(user.id.get))
            @getTable("Trending", Submission.findTrending(0, user.id.get))
            @getTable("Recent", Submission.findRecent(0, user.id.get))
        </div>
    </div>

}