@(submission: (Submission, Language), codes: List[Code], current: Int, message: String)
@import views.html.widget._

@main("RateMyCode - Viewing submission " + submission._1.name) {

    <script type="text/javascript">
            function showCode(index) {
                window.location = '/view/@submission._1.id?code=' + index;
            }
    </script>

    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <div class="row-fluid" xmlns="http://www.w3.org/1999/html">
                <div class="span12">
                    <fieldset>
                        <legend> Viewing submission '
                            @submission._1.name
                            ' </legend>
                    </fieldset>
                    <div class="span6">
                        <strong> Submitted: </strong> @submission._1.date <br />
                        <p> <strong> Description: </strong>
                            @submission._1.description </p>
                    </div>
                    <div class="span5 pull-right">
                        <form class="form-inline" action="/vote" method="post">
                            <input type="hidden" name="submission" value="@submission._1.id">

                            <div class="control-group pull-right">
                                @if(message == null) {
                                    <div class="controls">
                                        <input type="hidden" name="vote_type" id="vote_type" value="true">

                                        <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="vote_type">
                                            <button type="button" class="btn btn-success" id="upvote" value="true">
                                                    Upvote (
                                                    @submission._1.positive
                                                    )
                                            </button>
                                            <button type="button" class="btn btn-danger" id="downvote" value="false">
                                                    Downvote (
                                                    @submission._1.negative
                                                    )
                                            </button>
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="Vote!"/>
                                    </div>
                                } else {
                                    <div class="well well-small">
                                        <strong> @message </strong>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <fieldset>
                        <legend> Code: </legend>
                    </fieldset>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Code </th>
                                <th> Description </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(code <- codes) {
                                <tr onclick="showCode('@codes.indexOf(code)');">
                                <td> @code.name </td>
                                <td> @code.description </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> </div>

            <div class="row-fluid">
                <div class="span12">
                    <div id="code" style="position: relative; height: 600px"> @codes(current).code
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <h3> Comments </h3>

            <div class="row-fluid">
                <div class="span12">
                        <!-- Button to trigger modal -->
                    <a href="#commentModal" role="button" class="btn btn-info btn-small" data-toggle="modal" style="margin-bottom: 20px">
                            Comment
                    </a>

                        <!-- Modal -->
                    <div id="commentModal" class="modal hide fade" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
                            <h3 id="commentModalLabel"> New Comment </h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/comment" method="post" onsubmit="finalizeComment();">
                                <input type="hidden" name="submission" value="@submission._1.id.get">
                                <input type="hidden" id="commentParent" name="parent" value="0">

                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="username"> Author </label>

                                        <div class="controls">
                                            <input type="text" name="username" id="username" placeholder="Anonymous"
                                            class="span12">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="subject"> Subject </label>

                                        <div class="controls">
                                            <input type="text" name="subject" id="subject" placeholder="Subject"
                                            class="span12">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="comment"> Comment: </label>

                                        <div class="controls">
                                            <textarea id="comment" name="comment" class="span12"
                                            placeholder="Comment">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="btn btn-primary" type="submit" value="Place comment!"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @for(comment <- Comment.findBySubmission(submission._1.id.get)) {
                @showComment(comment, 0)
            }
        </div>
    </div>

    <div class="clearfix"></div>

    <script type="text/javascript">
            setupReadOnlyEditor("@submission._2.mode");
            setupVoteButtons();
    </script>
}

@showComment(commentModel: Comment, depth: Int) = {
    @comment(commentModel, depth)
    @Comment.findByComment(commentModel.id.get).map(commentChild => {
        showComment(commentChild, depth + 1)
    })
}
